{% extends 'layout/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sit, quo ad consequatur possimus quis sed beatae consequuntur! Quod fugiat sequi ut aspernatur hic deleniti, omnis voluptas reprehenderit voluptate! Quo a, exercitationem corrupti aspernatur minus consequuntur magni asperiores, fugiat dolorem qui delectus odit excepturi, fuga aliquid reprehenderit nam velit harum consectetur nihil repudiandae? Deserunt ea sunt totam fugiat ipsam. Minus repellendus modi nostrum velit beatae unde deleniti! Sapiente tempore magnam sequi provident nam ut, rerum cum asperiores, quaerat, sit reiciendis. Cum eaque vel reiciendis rerum consequatur provident quisquam magni dignissimos, impedit voluptatibus repudiandae eveniet perferendis. Asperiores accusantium illo laudantium quod?</p>

<p>Website Created by {{ username }}</p>

{% endblock %}